<%- include('header'); -%>

  <body>
    <section class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </section>
    <div class="box">
        <% items.forEach( function(i){ %>
          <div class= "item">
            <input type="checkbox">
             <p><%= i %></p>
           </div>
        <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Insert a Task" autocomplete="off">
        <button type="submit" name="button" value=<%= listTitle %> >+</button>
      </form>
    </div>
  </body>

<%- include('footer'); -%>
