<%- include('header'); -%>

    <section class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </section>
    <div class="box">
        <% items.forEach( function(i){ %>
          <form action="/delete" method="post">
            <div class="item">
              <input type="hidden" id="listName" name="listName" value="<%= listTitle %>">
              <input name=checkBox type="checkbox" onchange="this.form.submit()" value="<%=i['_id']%>">
               <p><%= i.name %></p>
            </div>
          </form>
        <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Insert a Task" autocomplete="off">
        <button type="submit" name="buttonSubmit" value="<%= listTitle %>">+</button>
      </form>


    </div>


<%- include('footer'); -%>
